.titulohistoria {
    text-align: center;
    padding-top: 20px;
}

.imagenhistoria {
    display: flex;
    justify-content: center; 
    padding: 20px;
}

.local {
    width: 80%;
}

.textohistoria {
    font-size: 20px;
    padding: 20px 15%;
    text-align: center;
}
